
#shapeCanvas{
 margin-left:auto;
 margin-right:auto;
 display:block;
 position: absolute;
 bottom: 50%;
 left: 50%;
 transform: translate(-50%, 50%);
 -ms-transform:translate(-50%, 50%);
 -webkit-transform:translate(-50%, 50%);  
}

html, body {
  margin: 0;
  padding: 0;
  background: black;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 18px; }

body.shape{

background:black;
color:white;		
}

#parameters{ 
position:absolute; 
right:20px; 
z-index: 10;
background:initial;	
display:none;
}
#parameters td{padding-bottom:5px;}

.X{
float:right;
font-weight: bold;	
font-size: 22px;
cursor:pointer;	
}

input[type="color"] 
{
border:none;	
padding:0;	
}

#title_shapes{
background: transparent;
z-index: 10;
position: relative;
width: 100%;
height: 37px;
}
#canvas_div{
	
height:500px;	
position: relative;  	
	
}

#buttons {
position: absolute;
top: 0;
right: 0;
height: 100%;
}
#buttons button
{
height: 100%;
    font-size: 18px;
    color: orange;
    background: transparent;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
	cursor:pointer;
	font-weight:bold;
}

#buttons button:focus {outline:0; }
#buttons button:hover{background-color:#949090;}

#title_shapes_div{	
	width:350px;
	padding-left: 10px;
}

#menu{display:none;}
  

a{
	text-decoration: none;
}


@media screen and (max-width: 900px) {
  .games_div, .art_div{
	width:100%;	
  }
 
 #buttons button
 {
	padding-left: 10px;
    padding-right: 10px; 
 }
}

@media screen and (max-width: 520px),screen and  (max-height: 671px) {
	
body {
    margin: 0; }
 
}
@media screen and (max-width: 700px) {

#parameters{  
left:auto; 
right:10px;
display:none;		
}

}

@media screen and (max-width: 610px) {
 
 #title_shapes_div {
    width: 260px;
    padding-left: 6px;
}

#menu {
    position: absolute;
    right: 10px;
    font-size: 28px;
    color: white;
    top: 0;
    cursor: pointer;
    display: block;
}

}

@media screen and (max-width: 520px) {
 #title_shapes{height:36px;}
}
 
 
@media screen and (max-width: 380px) {

  html, body {
    font-size: 15px; }
	
} 
	
