<?xml version = "1.0" encoding = "UTF-8"?>

<widget xmlns = "http://www.w3.org/ns/widgets" 
   xmlns:gap = "http://phonegap.com/ns/1.0" id = "com.shapesmania.beautshapes" version = "1.02">
   
   <name>Grow Your Star</name>
   
   <description>
      Draw, customize beautiful stars
   </description>
   
   <author href = "http://shapesmania.com/" email = "ludmiladvmnt@gmail.com">
      Shapes Mania
   </author>
     <platform name="android">
    <preference name="android-minSdkVersion" value="14" />
   </platform>
   <preference name = "permissions" value = "none"/>
   
   <plugin spec="https://github.com/devgeeks/Canvas2ImagePlugin#7cb80bb" />
   
   <icon src = "res/android/icon_ldpi.png" 
      gap:platform = "android" gap:qualifier = "ldpi" />
		
   <icon src = "res/android/icon_mdpi.png" 
      gap:platform = "android" gap:qualifier = "mdpi" />
		
   <icon src = "res/android/icon_hdpi.png" 
      gap:platform = "android" gap:qualifier = "hdpi" />
		
   <icon src = "res/android/icon_xhdpi.png" 
      gap:platform = "android" gap:qualifier = "xhdpi" />
		
   <icon src = "res/icon/android/icon_xxhdpi.png" 
      gap:platform = "android" gap:qualifier = "xxhdpi" />
	  

</widget>